<div class="container">
  <h1>Добавление нового питомца</h1>
  <div class="inputs">
    <input class="form-control" [(ngModel)]="name" placeholder="Введите кличку питомца">
    <select class="form-control" [(ngModel)]="typ" (change)="showElem()">
      <option *ngFor="let type of types" [value]="type">{{type}}</option>
    </select>
    <select class="form-control" [(ngModel)]="catBreed" [(ngModel)]="dogBreed">
      <option *ngFor="let ber of berres" [value]="ber">{{ber}}</option>
    </select>
    <input *ngIf="typ==='собака'" class="form-control" type="number" placeholder="Введите возраст питомца" [(ngModel)]="age">

    <div *ngIf="typ==='кошка'" class="checkbox" >
      <input class="custom-checkbox" type="checkbox" id="color-1" name="color-1" value="indigo" [(ngModel)]="accept">
      <label for="color-1">Подтвержденная родословная</label>
    </div>

  </div>
  <div class="buttn" (click)="addAnimal()">
    <button class="btn btn-success w-50 h-100">Добавить </button>
  </div>

  <div class="last" >
    <h1 >Последний добавленный питомец</h1>
    <app-card *ngIf="this.AnimalService.takeLastDogs() != '' "[dog]="animalList" [cat]="animalList"></app-card>
  </div>


</div>


